<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>students name</th>
      <th>note</th>
      <th>add</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'addnote' %>
  </tbody>
</table>