<div class="col-md-8 col-md-offset-2">
  <p>Courses</p>
    <% if @user.active_participations.empty? %>
      <p>you have no participations at the moment</p>
    <% else %>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Course id</th>
            <th>Course name</th>
            <th>ects</th>
          </tr>
        </thead>
        <tbody>
          <% @user.active_participations.each do |particip| %>
            <% s_id = particip.subject_id %>
            <% s    = Subject.find(s_id) %>
            <tr>
              <td><%= s_id %></td>
              <td><%= link_to s.name, s %></td>
              <td><%= s.ects %></td>
            </tr>
          <% end %>
        </tbody>
      </table> 
    <% end %>
</div>