<% provide(:title, "home") %>
<% if logged_in? %>
	  <div class="jumbotron">
	    <p>Studies Internet for Students and Tutors Application</p>
	  </div>
<% else %>
  <div class="jumbotron">
    <p>Studies Internet for Students and Tutors Application</p>
    <%= link_to "sign up now", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>