<li><strong><%= micropost.title %></strong></li>
<p><%= micropost.content %></p>
<p><%= micropost.created_at %></p>
<h6>posted by: <%= link_to micropost.author_name(micropost), micropost.find_author(micropost) %></h6><br>